---
pageable: true
per_page: 6
---

%header.main-header{cover}
  %nav.main-nav.overlay.clearfix
    - if blog_settings.logo.present?
      %a.blog-logo{href: home_path}
        = image_tag blog_settings.logo, alt: 'Blog Logo'
    %a.subscribe-button.icon-feed{href: feed_path} Subscribe
  .vertical
    .main-header-content.inner
      %h1.page-title= blog_settings.name
      %h2.page-description= blog_settings.description
  %a.scroll-down.icon-arrow-left{href: '#content', data: {offset: '-45'}}
    %span.hidden Scroll Down

%main#content.content{role: :main}
  = partial(:page_articles)
